#cover {
  background: url("https://unsplash.it/1920/1080/?random") center center
    no-repeat;
  height: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  position: relative;
  background-size: cover;
}

#cover-content {
  width: 100%;
  position: relative;
  z-index: 1;
}

form::before {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: -1;
  border-radius: 30px;
}
